#home {
    p {
        padding: 5svh 5svh 0 5svh;
        margin: 0;
    }

    img {
        margin: 50px;
        outline: 2px solid gray;
        outline-offset: 4px;
        border-radius: 15px;
        // border-bottom: clamp(3px, 0.5svh, 6px) solid var(--accent-color);
        transition: var(--general-delay) ease-in-out;
    }
     
}
