header {
    display:flex;
    position: relative;
    justify-content: space-between;
    background-color: var(--secondary-bg);
    min-height: clamp(50px, 4svh, 7svh);
    border-bottom: clamp(2px, 0.3svh, 4px) solid var(--accent-color);
    z-index: 3;
    box-shadow: 0px 3px 5px rgba(92, 255, 179, 0.2);
    a { 
        margin: auto 0;
    }

    h1 {
        font-size: 1.8rem;
        margin: 0;
        margin: 1.2rem 2.2rem;
    }
}

nav {
    margin: auto 0;
    margin-right: 2.2rem;
    a {
        margin-left: 1rem;
        font-size: 1.2rem;
        font-weight: lighter;
    }
    a:hover {
        animation: hover_scale var(--general-delay) ease-in-out both;
        -webkit-animation: hover_scale var(--general-delay) ease-in-out both;
    }
}

.page {
    z-index: 0;
    display: flex;
}

p {
    width: 80%;
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #303030; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #404040; 
}

@media (prefers-reduced-motion: no-preference) {
    header {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        animation: translate_to_0 var(--slide-in-speed) var(--cubic-1) forwards var(--slide-in-delay);
        -webkit-animation: translate_to_0 var(--slide-in-speed) var(--cubic-1) forwards var(--slide-in-delay);
    }

    .slide-in > div {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        animation: slide-in var(--slide-in-speed) forwards var(--cubic-1) var(--slide-in-delay);
        -webkit-animation: slide-in var(--slide-in-speed) forwards var(--cubic-1) var(--slide-in-delay);
    }

    .slide-area {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        animation: slide-in var(--slide-in-speed) forwards var(--cubic-1) var(--slide-in-delay);
        -webkit-animation: slide-in var(--slide-in-speed) forwards var(--cubic-1) var(--slide-in-delay);
    }
}



@keyframes slide-in {
    0%{opacity:0; }
    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in {
    0% { opacity:0; }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes translate_to_0 {
    100% { transform: translateY(0); }
}

@-webkit-keyframes translate_to_0 {
    100% { -webkit-transform: translateY(0); }
}

@keyframes hover_scale  {
    100% {
        font-size: 1.25rem;
        scale: 105%;
    }
}

@-webkit-keyframes hover_scale  {
    100% {
        font-size: 1.25rem;
        scale: 105%;
    }
}

@media only screen and (max-width: 700px) {
    header{
        min-height: clamp(80px, 6svh, 8svh);
        flex-direction: column;
    }
    nav {
        margin: 0 0 2svh 3svh;
        a {
            margin-left:0;
            margin-right: 3svw;
        }
    }
}

@media only screen and (max-width: 400px) {
    header {
        h1 {
            font-size: 1.5rem;
        }
    }
    nav a {
        font-size: 1rem;
    }
}

