:root {
  --primary-bg: rgb(45, 45, 45);
  --secondary-bg: rgb(30, 30, 30);
  --accent-color: rgb(76, 255, 172);
}

body {
  margin: 0;
  color: var(--accent-color);
  min-height: 100svh;
  max-height: 100svh;
  background-color: var(--primary-bg) ;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color:inherit;
}
